extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="login") Login here
  br
  a(href="register") resgister
  br
  a(href="test") test
  br
  a(href="dashboard") dashboard
  br
  a(href="https://youtube.com") Youtube