block content   
   link(rel='stylesheet', href='/stylesheets/style.css')
   


   h2  Registration Form

   div
        label(for="userName") User Name:
            input(type="email", name="userName")
            br
        label(for="email") Email:
            input(type="email", name="email")
            br
        label(for="name") Password:
            input(type="password", name="password")    
